API_ID= 
API_HASH= 
BOT_TOKEN= 
DURATION_LIMIT=999
MONGO_DB_URI=mongodb+srv://userge:userge@userge.0dauj.mongodb.net/Userge?retryWrites=true&w=majority
LOG_GROUP_ID= 
MUSIC_BOT_NAME= 
OWNER_ID=851754691
AUTO_LEAVING_ASSISTANT=True
SPOTIFY_CLIENT_ID=ff36a443b59a45ff95b708db5b14b2b5
SPOTIFY_CLINET_SECRET=51e0cc2a3a7f4607b6957cc21e52a324
STRING_SESSION=
TG_VIDEO_FILESIZE_LIMIT=5368709120
UPSTREAM_BRANCH=master
UPSTREAM_REPO=https://github.com/ReyyNada/ReyyYukki
